:root {
    --color1: hsl(53, 66%, 48%);
    --color2: hsl(352, 53%, 18%);
    --color3: hsl(67, 98%, 54%);
    --color4: hsl(212, 97%, 45%);
    --color1b: hsl(233, 66%, 48%);
    --color2b: hsl(173, 52%, 18%);
}